/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
/*corpo*/
body{
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
}
/*container*/
.container1{
    width: 100%;
}
/*inicio do header*/

header{
   background-image: url(images/image-header.jpg);
   background-size: 100%;
   width: 102%;
   height: 700px;
 
}
header h1{
    color: white;
    margin-top: 30px;
    font-size: 100px;
}
header nav{
    font-size: 30px;
}
header nav ul li a{
    color: white;
}

header nav ul li a:hover{
    background: white;
    color: black;
    border-radius: 30px;
}
header nav img{
    width: 20%;
}

/*artigos e imagens*/

article h1{
    margin-left: 80px;
    margin-top: 150px;
}
article p{
    font-size: 18px;
    margin-left: 80px;
    margin-top: 50px;
    line-height: 35px; 
}
article p .right{
    margin-right: 80px;
}
article a{
    margin-left: 80px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    text-decoration: underline yellow 5px;
}
.ovo{
    background: url(images/image-transform.jpg) no-repeat;
    background-size: 100%;
    height: 575px;
}
.calice{
    background: url(images/image-stand-out.jpg) no-repeat;
    background-size: 100%;
    height: 574px;
}

/*inicio da section*/

section img{
    width: 50%;
}
.stand h1{
    margin-right: 80px;
    margin-top: 150px;
}
.stand p{
    font-size: 18px;
    margin-right: 80px;
    margin-top: 50px;
    line-height: 35px; 
}
.imagem{
    width: 50%;
    height: 500px;
    background-image: url(images/image-graphic-design.jpg);
}
.imagem2{
    width: 50%;
    height: 500px;
    background-image: url(images/image-photography.jpg);
}
.texto{
    margin-top: 320px;
    margin-left: 200px;
    width: 50%;
}
/*client testemotions*/
.center{
    margin-left: 530px;
    font-size: 40px;
}
.emi{
    margin-left: 100px;
}
.radius{
    border-radius: 144px;
    margin-bottom: 15px;
}

/*backgrounds images*/

.milk{
    background: url(images/image-gallery-milkbottles.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 25%;
    height: 400px;
}
.orange{
    background: url(images/image-gallery-orange.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 25%;
    height: 400px;
}
.casquinha{
    background: url(images/image-gallery-cone.jpg) no-repeat;
    background-size: 100%;
    width: 25%;
    height: 400px;
}
.sugar{
    background: url(images/image-gallery-sugarcubes.jpg) no-repeat;
    background-size: 100%;
    width: 25%;
    height: 400px;
}
/*footer*/

footer{
    background: #A9F5E1;
    height: 300px;
    width: 102%;
}
footer img{
    width: 15%;
}
footer nav a {
    margin-left: 40px;
}
footer nav a:hover{
    background: #58FAAC;
    border-radius: 20px;
    text-decoration: none;
    color:white;
}
footer a{
    color: black;
}

/*rodapé front-end*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*media querys*/
@media (max-width: 767.98px) {
          header{
              height: 400px;
          }
          header h1{
              margin-top: 40px;
              font-size: 30px;
          }
          header img{
              display: none;
          }
          .ovo{
              position:relative;
              top: -500px;
          }
         .paragraph{
             position: relative;
             top: 500px;
         }
         .stand{
             margin-bottom: 150px;
         }
         .imagem{
             width: 100%;
             background-size: 100%;
             background-repeat: no-repeat;
             background-position: center;
         }
         .imagem2{
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
         }
         .texto{
             font-size: 14px;
         }
         .center{
             position: relative;
             right: 300px;
         }
 }